
[V200R003C00]
#
 sysname rt6
#
 snmp-agent local-engineid 800007DB03000000000000
 snmp-agent group v3 buaa authentication
 snmp-agent target-host trap-hostname nym address 192.168.0.1 udp-port 162 trap-paramsname buaa
 snmp-agent usm-user v3 oto buaa authentication-mode sha 3A5DC6CFD95AFA991B5C66463E9C6376FC58A12A
 snmp-agent trap source LoopBack1
 snmp-agent trap enable
 snmp-agent 
#
 clock timezone China-Standard-Time minus 08:00:00
#
portal local-server load flash:/portalpage.zip
#
 drop illegal-mac alarm
#
router id 3.1.1.6 
#
 wlan ac-global carrier id other ac id 0
#
 set cpu-usage threshold 80 restore 75
#
aaa 
 authentication-scheme default
 authorization-scheme default
 accounting-scheme default
 domain default 
 domain default_admin 
 local-user admin password cipher %$%$K8m.Nt84DZ}e#<0`8bmE3Uw}%$%$
 local-user admin service-type http
#
firewall zone Local
 priority 15
#
interface GigabitEthernet0/0/0
 ip address 125.3.2.6 255.255.255.0 
#
interface GigabitEthernet0/0/1
 ip address 125.3.3.6 255.255.255.0 
#
interface GigabitEthernet0/0/2
 ip address 125.0.0.246 255.255.255.252 
#
interface NULL0
#
interface LoopBack0
 ip address 3.1.1.6 255.255.255.255 
#
interface LoopBack1
 ip address 192.168.3.6 255.255.255.0 
#
bgp 3
 peer 125.0.0.245 as-number 1 
 group as3 internal
 peer as3 connect-interface LoopBack0
 peer 3.1.1.7 as-number 3 
 peer 3.1.1.7 group as3 
 peer 3.1.1.8 as-number 3 
 peer 3.1.1.8 group as3 
 #
 ipv4-family unicast
  undo synchronization
  aggregate 125.3.16.0 255.255.252.0 detail-suppressed 
  aggregate 192.168.3.0 255.255.255.0 detail-suppressed 
  network 125.3.16.0 255.255.255.0 
  network 125.3.17.0 255.255.255.0 
  network 125.3.18.0 255.255.255.0 
  network 125.3.19.0 255.255.255.0 
  network 192.168.3.3 255.255.255.255 
  network 192.168.3.4 255.255.255.255 
  network 192.168.3.6 255.255.255.255 
  network 192.168.3.7 255.255.255.255 
  network 192.168.3.8 255.255.255.255 
  network 192.168.3.9 255.255.255.255 
  network 192.168.3.10 255.255.255.255 
  network 192.168.3.11 255.255.255.255 
  network 192.168.3.12 255.255.255.255 
  network 192.168.3.13 255.255.255.255 
  network 192.168.3.14 255.255.255.255 
  network 200.3.114.1 255.255.255.255 
  peer 125.0.0.245 enable
  peer as3 enable
  peer as3 next-hop-local 
  peer 3.1.1.7 enable
  peer 3.1.1.7 group as3 
  peer 3.1.1.8 enable
  peer 3.1.1.8 group as3 
#
ospf 1 
 import-route bgp
 preference ase 200 
 area 0.0.0.0 
  network 3.1.1.6 0.0.0.0 
  network 125.3.2.0 0.0.0.255 
  network 125.3.3.0 0.0.0.255 
  network 192.168.3.6 0.0.0.0 
#
user-interface con 0
 authentication-mode password
user-interface vty 0 4
user-interface vty 16 20
#
wlan ac
#
return