
[V200R003C00]
#
 sysname rt18
#
 board add 0/3 1GEC 
 board add 0/4 1GEC 
#
 snmp-agent local-engineid 800007DB03000000000000
 snmp-agent group v3 buaa authentication
 snmp-agent target-host trap-hostname nym address 192.168.0.1 udp-port 162 trap-paramsname buaa
 snmp-agent usm-user v3 oto buaa authentication-mode sha 3A5DC6CFD95AFA991B5C66463E9C6376FC58A12A
 snmp-agent trap source LoopBack1
 snmp-agent trap enable
 snmp-agent 
#
 clock timezone China-Standard-Time minus 08:00:00
#
portal local-server load flash:/portalpage.zip
#
 drop illegal-mac alarm
#
router id 2.1.1.18 
#
 wlan ac-global carrier id other ac id 0
#
 set cpu-usage threshold 80 restore 75
#
acl number 2001  
 rule 0 deny source 192.168.1.0 0.0.0.255 
 rule 1 deny source 192.168.2.0 0.0.0.255 
 rule 2 deny source 192.168.3.0 0.0.0.255 
 rule 3 permit 
#
aaa 
 authentication-scheme default
 authorization-scheme default
 accounting-scheme default
 domain default 
 domain default_admin 
 local-user admin password cipher %$%$K8m.Nt84DZ}e#<0`8bmE3Uw}%$%$
 local-user admin service-type http
#
firewall zone Local
 priority 15
#
interface GigabitEthernet0/0/0
 ip address 125.2.3.18 255.255.255.0 
#
interface GigabitEthernet0/0/1
 ip address 125.2.2.18 255.255.255.0 
#
interface GigabitEthernet0/0/2
#
interface GigabitEthernet3/0/0
#
interface GigabitEthernet4/0/0
 ip address 125.0.0.229 255.255.255.0 
#
interface NULL0
#
interface LoopBack0
 ip address 2.1.1.18 255.255.255.255 
#
interface LoopBack1
 ip address 192.168.2.18 255.255.255.255 
#
bgp 2
 peer 125.0.0.230 as-number 4 
 group as2 internal
 peer as2 connect-interface LoopBack0
 peer 2.1.1.16 as-number 2 
 peer 2.1.1.16 group as2 
 peer 2.1.1.17 as-number 2 
 peer 2.1.1.17 group as2 
 peer 2.2.1.15 as-number 2 
 peer 2.2.1.15 group as2 
 #
 ipv4-family unicast
  undo synchronization
  preference 255 110 110 
  network 192.168.0.0 
  peer 125.0.0.230 enable
  peer 125.0.0.230 filter-policy 2001 export
  peer as2 enable
  peer 2.1.1.16 enable
  peer 2.1.1.16 group as2 
  peer 2.1.1.17 enable
  peer 2.1.1.17 group as2 
  peer 2.2.1.15 enable
  peer 2.2.1.15 group as2 
#
ospf 1 
 import-route bgp
 preference ase 200 
 area 0.0.0.0 
  network 2.1.1.18 0.0.0.0 
  network 125.2.2.0 0.0.0.255 
  network 125.2.3.0 0.0.0.255 
  network 192.168.2.18 0.0.0.0 
#
user-interface con 0
 authentication-mode password
user-interface vty 0 4
user-interface vty 16 20
#
wlan ac
#
return